DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/forest_db
CORS_ORIGINS=http://localhost:3000,http://localhost:8080


#Le fichier .env.example est une maquette (ou un modèle) de votre configuration. C'est un fichier texte qui contient les noms des variables, mais pas leurs valeurs secrètes.Voici pourquoi il est indispensable :1. Documenter les besoins du projet Quand un autre développeur (ou vous-même sur un nouvel ordi) récupère le code, il ne sait pas de quelles variables l'application a besoin pour démarrer. Le .env.example lui indique : "Voici la liste des clés que tu dois configurer".
